[submodule "public"]
	path = public
	url = git@github.com:hyunwoo-kr/hyunwoo-kr.github.io.git
	branch = master
[submodule "themes/tranquilpeak"]
	path = themes/tranquilpeak
	url = git@github.com:hyunwoo-kr/hugo-tranquilpeak-theme.git
	branch = master
